name: Lighthouse CI

on:
  pull_request:
  push:
    branches:
      - main

jobs:
  lighthouse:
    runs-on: ubuntu-latest
    timeout-minutes: 20

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: yarn

      - name: Enable Corepack
        run: corepack enable

      - name: Install dependencies
        run: corepack yarn install --frozen-lockfile

      - name: Build app
        run: corepack yarn build

      - name: Run Lighthouse CI
        run: npx @lhci/cli@0.13.x autorun --config=./lighthouserc.json
